@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}
input {
  display: none;
}
.Tree ul {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.Tree ul li ul {
  margin-left: 20px;
}
.Tree ul li > a,
.Tree ul li > label,
.Tree ul:after {
  padding: 2px 4px;
  margin-bottom: 4px;
  display: block;
  float: left;
  clear: both;
}
.Tree ul a,
.Tree ul label,
.Tree ul:after {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.Tree ul a:hover,
.Tree ul label:hover,
.Tree ul:after:hover {
  color: #008;
}
.Tree ul a:before,
.Tree ul label:before,
.Tree ul:after:before {
  width: 14px;
  display: inline-block;
}
.Tree ul ul:empty:after {
  content: '▪ (no subfolders)';
}
.Tree ul li > a:before {
  content: '▪';
}
.Tree ul li > input + label:before {
  content: '▸';
}
.Tree ul li > input + label + ul {
  display: none;
}
.Tree ul li > input:checked ~ label:before {
  content: '▾';
}
.Tree ul li > input:checked ~ label + ul {
  display: block;
}
h2 {
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 20px;
}
aside.Tree {
  height: 100%;
  width: 25%;
  float: left;
  padding: 20px;
}
#color-red:checked ~ aside.Tree {
  background-color: #ffcccc;
}
#color-green:checked ~ aside.Tree {
  background-color: #ccffcc;
}
#color-blue:checked ~ aside.Tree {
  background-color: #ccccff;
}
#color-orange:checked ~ aside.Tree {
  background-color: #ffedcc;
}
#color-red:checked ~ #scenes:target ~ aside li > label[for="expand-scenes"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #scenes:target ~ aside li > label[for="expand-scenes"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #scenes:target ~ aside li > label[for="expand-scenes"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #scenes:target ~ aside li > label[for="expand-scenes"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #scenes:target ~ aside li > a[href="#scenes"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #scenes:target ~ aside li > a[href="#scenes"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #scenes:target ~ aside li > a[href="#scenes"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #scenes:target ~ aside li > a[href="#scenes"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #icons:target ~ aside li > label[for="expand-icons"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #icons:target ~ aside li > label[for="expand-icons"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #icons:target ~ aside li > label[for="expand-icons"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #icons:target ~ aside li > label[for="expand-icons"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #icons:target ~ aside li > a[href="#icons"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #icons:target ~ aside li > a[href="#icons"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #icons:target ~ aside li > a[href="#icons"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #icons:target ~ aside li > a[href="#icons"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #faces:target ~ aside li > label[for="expand-faces"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #faces:target ~ aside li > label[for="expand-faces"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #faces:target ~ aside li > label[for="expand-faces"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #faces:target ~ aside li > label[for="expand-faces"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #faces:target ~ aside li > a[href="#faces"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #faces:target ~ aside li > a[href="#faces"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #faces:target ~ aside li > a[href="#faces"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #faces:target ~ aside li > a[href="#faces"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #sounds:target ~ aside li > label[for="expand-sounds"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #sounds:target ~ aside li > label[for="expand-sounds"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #sounds:target ~ aside li > label[for="expand-sounds"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #sounds:target ~ aside li > label[for="expand-sounds"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
#color-red:checked ~ #sounds:target ~ aside li > a[href="#sounds"] {
  border: 1px solid #ee1111;
  background-color: #ff8888;
  color: #880000;
}
#color-green:checked ~ #sounds:target ~ aside li > a[href="#sounds"] {
  border: 1px solid #087708;
  background-color: #88ff88;
  color: #008800;
}
#color-blue:checked ~ #sounds:target ~ aside li > a[href="#sounds"] {
  border: 1px solid #1111ee;
  background-color: #8888ff;
  color: #000088;
}
#color-orange:checked ~ #sounds:target ~ aside li > a[href="#sounds"] {
  border: 1px solid #eea111;
  background-color: #ffd588;
  color: #885800;
}
